[submodule "phase-1-2-lexer-parser"]
	path = phase-1-2-lexer-parser
	url = https://github.com/matahho/Compiler_CA.git
[submodule "phase-3-type-checking"]
	path = phase-3-type-checking
	url = https://github.com/matahho/Compiler_phase3.git
[submodule "phase-4-code-generation"]
	path = phase-4-code-generation
	url = https://github.com/matahho/compiler_CA4.git
